:root {
    --light-aqua: rgb(160, 250, 250);
    --black: rgb(22, 22, 22);
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--black);
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.5rem;
}

.container {
    width: 95vw;
    height: 95vh;
    border: 2px solid aqua;
    border-radius: 13px;
    margin: 0 auto;
    background-color: var(--light-aqua);
}

.display {
    border: 2px solid aqua;
    border-radius: 13px; 
    height: 1em;
    width: 90vw;
}

.buttonsContain {
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

.buttons {
    border: 2px solid aqua;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    border-radius: 13px; 
    margin-left: .9em;
    max-height: 70vh;
    width: 90vw;
}

.buttons__operands {
    border: 2px solid aqua;
    border-radius: 13px; 
}

.buttons__round {
    border: 2px solid aqua;
    border-radius: 50%; 
    margin-left: .3em;
    padding: .3em;
    max-width: 2em;
    max-height: 2em;

}
.operands__round {
    border: 2px solid hotpink;
    border-radius: 50%; 
    margin-left: .3em;
    padding: .3em;

}